# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/

# Build directory
dist/

# Environment variables
.env
.env.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs
*.njsproj
*.sln
*.sw?